@font-face {
  font-family: 'Architects Daughter';
  src: url(assets/fonts/ArchitectsDaughter-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Light';
  src: url(assets/fonts/Roboto-Light.ttf);
}
