@import "@/styles/fonts";
@import "@/styles/variables";
@import "@/styles/mixins";

:root {
  font-family: $font-family-basic;
  font-size: $rem-root-adjustment;
}

body {
  color: $font-color-dark;
  font-size: $font-size-basic;

  margin: 0;
  padding: 0;

  background-color: $app-background;

  a,
  a:active,
  a:visited {
    color: $font-color-link;
  }

  a:hover {
    color: $font-color-link-hover;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    &.no-decoration {
      color: inherit;
      text-decoration: none;
    }
  }

  h1 {
    font-family: $font-family-special;
    font-size: $font-size-h1;
    color: $font-color-header;
  }

  h2 {
    font-family: $font-family-special;
    font-size: $font-size-h2;
    color: $font-color-header;
  }

  .content {
    display: flex;
    justify-content: center;

    .container {
      display: flex;
      flex-direction: column;

      width: 110rem;
      padding: 5rem 10rem;

      @include tablet-portrait-size {
        padding: 2.5rem 5rem;
      }

      @include phone-size {
        padding: 2.5rem 2.5rem;
      }
    }
  }

  .slide-fade-enter-active {
    transition: all 0.15s ease;
  }

  .slide-fade-leave-active {
    transition: all 0.15s ease;
  }

  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateY(-10px);
    opacity: 0;
  }
}
