@import "@/styles/fonts";
@import "@/styles/variables";
@import "@/styles/mixins";

:root {
  font-family: $font-family-basic;
  font-size: $rem-root-adjustment;
}

body {
  color: $font-color-dark;
  font-size: $font-size-basic;

  margin: 0;
  padding: 0;

  background-color: $app-background;

  h1 {
    font-family: $font-family-special;
    font-size: $font-size-h1;
    color: $font-color-header;
  }
}
