// Adjusting root font size to make 1rem = 10px
$rem-root-adjustment: 62.5%;

// Background Colors
$app-background: #f0f0f0;
$card-background: #ffffff;
$card-background-active: #fafafa;
$header-dark: #315b85;
$header-light: #5692c8;
$button-light-frost: #f0f0f020;
$button-frost: #f0f0f040;
$button-frost-hover: #f0f0f060;
$button-frost-active: #f0f0f030;

// Font Colors
$font-color-white: #ffffff;
$font-color-light-blue: #9ddcff;
$font-color-dark: #606060;
$font-color-header: #474747;
$font-color-link: #315b85;
$font-color-link-hover: #5692c8;

// Font Family
$font-family-basic: 'Roboto Light';
$font-family-special: 'Architects Daughter';

// Font Sizes
$font-size-h1: 2.4rem;
$font-size-h2: 2rem;
$font-size-basic: 1.6rem;

// Border and Box Shadow;
$border-white: #f0f0f0;
$box-shadow: #00000040;
