// Typography
// Adjusting root font size to make 1rem = 10px
$rem-root-adjustment: 62.5%;

// Background Colors
$app-background: #f0f0f0;
$header-dark: #315b85;
$header-light: #5692c8;
$button-frost: #f0f0f040;
$button-frost-hover: #f0f0f060;
$button-frost-active: #f0f0f030;

// Font Colors
$font-white: #ffffff;
$font-light-blue: #9ddcff;
$font-dark: #606060;

// Border and Box Shadow;
$border-white: #ffffff;
$box-shadow: #00000040;

// Sizing
$app-max-width: 116rem;
